# cmake
build
build-arm64

# clangd
.cache

# bin
package/lib/*
package/MskDSP
package/test*
**/*_test
package/log
package/debug

# 屏蔽所有版本文件
**/*LibInfo.h
package/conf/modConf.bin

# runtime DataCenter configs
package/conf/dataCenter/*.pb*
IEC104/*

.ccache
mskdsp.tar