# cmake
build
build-arm64

# clangd
.cache

# bin
package/lib/*
package/module/*
package/MskDSP
package/test*
**/*_test
package/log
package/debug

package/conf/**/*.pb
package/conf/**/*.pb.bak

# 屏蔽所有版本文件
**/*LibInfo.h
package/conf/modConf.bin

# runtime DataCenter configs
package/conf/dataCenter/*.pb*
IEC104/*

.ccache
images/*

# Word 文档
*.doc
*.docx

# PDF 文档
*.pdf

# 文档目录默认忽略，仅放开 Markdown
doc/**
!doc/
!doc/**/
!doc/**/*.md
doc/锦浪逆变器协议/RS485_MODBUS锦浪光伏并网逆变器通信协议.xlsx

# 测试配置
testConfig

# 日志数据
checklog