# cmake
build
build-arm64

# clangd
.cache

# bin
package/lib/*
package/module/*
package/MskDSP
package/test*
**/*_test
package/log
package/debug

# 屏蔽所有版本文件
**/*LibInfo.h
package/conf/modConf.bin

# runtime DataCenter configs
package/conf/dataCenter/*.pb*
IEC104/*

.ccache
images/*

# Word 文档
*.doc
*.docx

# PDF 文档
*.pdf

# 协议原始表格
doc
doc/锦浪逆变器协议/RS485_MODBUS锦浪光伏并网逆变器通信协议.xlsx

# 测试配置
testConfig